body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-img {
    width: 500px;
    height: 200px;
    padding: 0px;
    border-radius: 15px;
}

.img-mid {
    width: 150px;
    height: 150px;
    padding: 0px;
    border-radius: 15px;

}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0px;
    margin-left: auto;
    flex: 1 0 auto;
    margin-right: 150px;
    font-size: 18px;
    color: #E5E7EB;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #1F2937;
}

.top-content-header {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    flex: 1 0 auto;
    margin-left: 150px;
    font-size: 24px;
    color: #F9FAF8;

}

.hero {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.left-text {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 150px;
    flex: 1 0 auto;
}

.right-placeholder-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 150px;
}

h2 {
    font-size: 42px;
    font-weight: 800;
    color: #F9FAF8;
    margin-top: 0px;
}

.below-awesome {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: auto;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.upper-button {
    border: 5px #3882F6;
}

.main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 75px;
}

h3 {
    font-size: 30px;
    font-weight: 800;
    color: #1F2937;
}

.four-square {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.square {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: flex;
    flex: 1 0 auto;
}

p {
    text-align: center;
}

.main-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding-left: 350px;
    padding-right: 350px;
    color: #1F2937;
    padding-top: 75px;
    padding-bottom: 75px;
}

.quote {
    font-size: 30px;
    font-style: italic;
    text-align: left;
    font-weight: lighter;
}

.signature {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bolder;
}

.main-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltoaction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    padding: 10px;
    border-radius: 15px;
    margin: 75px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 75px;
}

.leftcall {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.action {
    margin-bottom: 0px;
    font-weight: bold;
    color: #F9FAF8;
    font-size: 20px;
}

.signup {
    margin-top: 5px;
    color: #E5E7EB;
}

.lower-button {
    border: 3px solid #E5E7EB;

}

footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.foot {
    color: #E5E7EB
}